.navbar {
	opacity: .75;
}

*{
	color:white;
}
.blog{
	color:#34495e;
}
.name{
	width: 100%;
	background-image: url(./van_mini.jpg);
	-webkit-filter: blur(2px); -moz-filter: blur(2px); -o-filter: blur(2px); -ms-filter: blur(2px); filter: blur(2px);
	background-size: cover;
	position: relative;
	font-size: .1em;
	height: 100%;
	-khtml-opacity:.80; 
	-moz-opacity:.80; 
	-ms-filter:"alpha(opacity=80)";
	filter:alpha(opacity=80);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.80);
	opacity:.80; 
}

h1.reef {
	/*padding-bottom: 200px;*/
	font-weight: bolder;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	color: #2c3e50;
	font-size: 100px;
}
.fa-angle-down:before {
	color:white;
	font-weight: bolder;
	position: absolute;
	top: 80%;
	width: 100%;
	text-align: center;	
	font-size: 80px;
}
#about{
	background-image: url(./ny.jpg);
	background-size: cover;
	/*position: relative;*/
	height: 100%;
	/*background-repeat: initial;*/
}
#tour{
	background-image: url(./water.jpg);
	background-size: cover;
	position: relative;
	background-repeat: initial;
}
.listen{
	background-image: url(./ocean_mini.jpg);
	background-size: cover;
	position: relative;
	height: 100%;
	background-repeat: initial;
}
#cart{
	background-image: url(./beach_mini.JPG);
	background-size: cover;
	position: relative;
	height: 100%;
	background-repeat: initial;
}
label{
	color:black;
	font-size: 20px;
}
.add{
	display: inline;
}
.nav-top{
	text-align: center;
	width: 20%;
}
.about-pic{
	width: 75%;
}
.header{
	font-size: 60px;
}
.section{
	/*height: 100%;*/
	padding-top: 50px;
	padding-bottom: 50px;
}
.descrp{
	font-size: 20px;
}
.tour-pic{
	height: 60%;
	width: 190%;
}
.track-pick{
	width: 40%;
}
.current i{
	padding-left: 30%;
	font-size: 250px;
}
.track-pick h2{
	font-size: 43px;
}
.track-pick button{
	margin-top: 2%;
	width: 60%;
}
.blog-side button{
	margin-left: 3%;
	margin-top: 2%;
	width: 70%;
}
.sizer{
	font-size: 34px;
}
.cancel{
	display:inline-block;
}

.blog-panel {
	background-image: url(./train.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

.blog-panel h1 {
	color: #ecf0f1;
}

.well.blog {
	opacity: .9;
}

h2 small {
	color: #34495e;
}

.descrp .well {
	color: #2c3e50;
	opacity: .8;
}
#about .header {
	color: #2c3e50;
}