{% extends "base.html" %}
{% block title %}Blog{% endblock %}
{% block content %}
<div class="blog-panel">
	<div class="container">
		<br/><br/><br/>
		<h1 style="text-align:center; font-size:50px;">The Choral Reef Blog</h1>
		<br/>
		<div class="well blog">
			<h2>Strict Steve Stricter Remix EP - <small>2/14/2014</small></h2>
			<p class="blog">
				The Enter The Reef EP is still coming soon. However, we are happy to announce that a Strict Steve Stricter Remixes EP will also be out soon.
			</p>
		</div>
		<div class="well blog">
			<h2>Weekend Update - <small>1/23/2014</small></h2>
			<p class="blog">
				It has been a while since our last release, but we have some great music coming soon.
			</p>
		</div>
		<div class="well blog">
			<h2>Second Single Released - <small>1/1/2014</small></h2>
			<p class="blog">
				Our second single Enter The Reef has been released. It is hard to understand how proud we are of this track. It is the main track to set the mood of the EP. The full Enter The Reef EP will be coming soon.
			</p>
		</div>
		<div class="well blog">
			<h2>First Single Released - <small>12/15/2013</small></h2>
			<p class="blog">
				Our first single Strict Steve is being released today. We are very proud of this release. It represents a great start to our career.
			</p>
		</div>
		<div class="well blog">
			<h2>Band Started - <small>11/9/2013</small></h2>
			<p class="blog">
				Choral Reef started by four talented musicians.
			</p>
		</div>
	</div>
</div>
{% endblock %}