{% extends "base.html" %}
{% block title %}Choral Reef{% endblock %}
{% block content %}
<div class="name"></div>
<div class="reef">
	<h1 class="reef">Choral Reef</h1>
	<a href="#about"><i class="fa fa-angle-down"></i></a>
</div>
<div class="row section back" id="about">
	<div class="container">
		<h1 class="header">About Us</h1>
		<div class="col-lg-6 descrp">
			Choral Reef is a revolutionary new group that has recently entered the realm of producing. With inspiration from world-class DJs such as Swedish House Mafia and DJ @@, Choral Reef has goals to be on top of the charts everywhere. Choral Reef aims for quality entertainment towards all music lovers ranging from Kanye West fans to the creators of the Teen Titans original theme song. Choral Reef is currently on their Spring "The Reef is Getting Warmer" Tour in celebration of the release of the Enter The Reef EP. Tour guests include Skrillex, Stardust, and some tour dates even include the great Valx DJ. Welcome to the reef.
		</div>
		<div class="col-lg-6">
			<img src="https://i4.sndcdn.com/artworks-000065227484-7pbl31-t200x200.jpg?435a760" class="about-pic">
		</div>
	</div>
</div>
<div class="listen back">
<div class="container">
	<div class="row section" id="listen">
			<h1 class="header">Listen</h1>
			<div class="col-lg-6 track-pick">
				<h2>Select a track:</h2>
				<button class="btn btn-lg btn-info" onclick="track1()">Merry Strictmas</button><br>
				<button class="btn btn-lg btn-info" onclick="track2()">Enter The Reef</button><br>
				<button class="btn btn-lg btn-info" onclick="track3()">Strict Steve</button><br>
				<button class="btn btn-lg btn-info" onclick="track4()">In Your Eyes</button><br>
				<button class="btn btn-lg btn-info" onclick="track5()">Save Myself</button><br>
			</div>
			<div class="col-lg-6 current">
				<i class="fa fa-music"></i>
			</div>
	</div>
</div>
</div>
<div class="row back" id="tour">
	<div class="container">
		<h1 class="header">Tour Schedule</h1>
		<form id="form">
		<div class="row">
			<div class="col-lg-4">
				<h2>Concert Date: </h2>
				<h3>March 21<sup>st</sup> ,2014</h3>
			</div>
			<div class="col-lg-4">
				<h2>Venue: </h2>
				<h3>Madison Square Garden</h3>
			</div>
			<div class="col-lg-4">
				<h2>Special Guests: </h2>
				<h3>Drake, Swedish House Mafia</h3>
			</div>
			<div class="col-lg-4 add">
				<label>Enter number of tickets
					<input id="tour1" placeholder="1">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h2>Concert Date: </h2>
				<h3>May 18<sup>th</sup> ,2014</h3>
			</div>
			<div class="col-lg-4">
				<h2>Venue: </h2>
				<h3>IZOD center</h3>
			</div>
			<div class="col-lg-4">
				<h2>Special Guests: </h2>
				<h3>A$AP Rocky, Valx DJ</h3>
			</div>
			<div class="col-lg-4 add">
				<label>Enter number of tickets
					<input id="tour2" placeholder="2">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h2>Concert Date: </h2>
				<h3>July 3<sup>th</sup> ,2014</h3>
			</div>
			<div class="col-lg-4">
				<h2>Venue: </h2>
				<h3>Bergen County Acadmies</h3>
			</div>
			<div class="col-lg-4">
				<h2>Special Guests: </h2>
				<h3>DJ @@, 2Chainz</h3>
			</div>
			<div class="col-lg-4 add">
				<label>Enter number of tickets
					<input id="tour3" placeholder="3">
				</label>
				<button type="submit" class="btn btn-info">Add tickets to Cart</button>
			</div>
		</div>
		</form>
	</div>
</div>
<div class="row section back" id="cart">
	<div class="container">
		<h1 class="header">Cart</h1>
		<div class="col-lg-12 tour1">
			
		</div>
		<div class="col-lg-12 tour2">
			
		</div>
		<div class="col-lg-12 tour3">
			
		</div>
		<button class="btn btn-success"> Checkout </button>
	</div>
</div>
<script type="text/javascript">
	$('document').ready(function(){
		var $window = $(window); var velocity = 0.9; function update(){ var pos = $window.scrollTop(); $('.back').each(function() { var $element = $(this); var height = $element.height(); $(this).css('backgroundPosition', '50% ' + Math.round((height - pos) * velocity) + 'px'); }); }; $window.bind('scroll', update);

	});
	$('#form').submit(function (event) {
            event.preventDefault();
            var tour1 = $('#tour1').val();
            var tour2 = $('#tour2').val();
            var tour3 = $('#tour3').val();
            if($('.tour1').children().length > 0 || $('.tour2').children().length > 0 || $('.tour3').children().length > 0){
            	$( "h2" ).remove( ":contains('bought')" );
            }
            if(tour1 != ""){
            	if(tour1 == "1"){
            		$('.tour1').append('<h2>You bought ' + tour1 + 'ticket for the March 21<sup>st</sup> ,2014 concert</h2>');
            	}else{
            		$('.tour1').append('<h2>You bought ' + tour1 + 'tickets for the March 21<sup>st</sup> ,2014 concert</h2>');
            	}
            	
            }
            if(tour2 != ""){
            	if(tour2 == "1"){
            		$('.tour2').append('<h2>You bought ' + tour2 + 'ticket for the May 18<sup>th</sup> ,2014 concert</h2>');
            	}else{
            		$('.tour2').append('<h2>You bought ' + tour2 + 'tickets for the May 18<sup>th</sup> ,2014 concert</h2>');
            	}
            	
            }
            if(tour3 != ""){
            	if(tour3 == "1"){
            		$('.tour3').append('<h2>You bought ' + tour3 + 'ticket for the July 3<sup>th</sup> ,2014 concert</h2>');
            	}else{
            		$('.tour3').append('<h2>You bought ' + tour3 + 'tickets for the July 3<sup>th</sup> ,2014 concert</h2>');
            	}
            	
            }

    });
	function track1(){
		$('.current').remove();
		$('#listen').append('<div class="col-lg-6 current"><iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/126370907&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe></div>')
	}
	function track2(){
		$('.current').remove();
		$('#listen').append('<div class="col-lg-6 current"><iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/124600491&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe></div>')
	}
	function track3(){
		$('.current').remove();
		$('#listen').append('<div class="col-lg-6 current"><iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/122254903&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe></div>')
	}
	function track4(){
		$('.current').remove();
		$('#listen').append('<div class="col-lg-6 current"><iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/109633032&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe></div>')
	}
	function track5(){
		$('.current').remove();
		$('#listen').append('<div class="col-lg-6 current"><iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/58487048&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe></div>')
	}
</script>
{% endblock %}