{% extends "base.html" %}
{% block title %}Choral Reef{% endblock %}
{% block content %}
<div class="name">
	<br><br><br>
	<div class="reef topmost">
		<div class="container">
			<div class="jumbotron reef">
				<h1 class="reef">Choral Reef</h1>
			</div>
		</div>
	</div>
	<p style="text-align:center;" id="arrow"><a href="#about-place"><i class="fa fa-angle-down" style="color:white;"></i></a></p>
	<br><br><br>
	<div class="container" id="about-place" style="padding-top:100px;">
		<div class="jumbotron">
			<h1 class="header center">About Us</h1>
			<br/>
			<div class="row">
				<div class="col-lg-6 descrp">
					<div class="well">
						Choral Reef is a revolutionary new group that has recently entered the realm of producing. With inspiration from world-class DJs such as Swedish House Mafia and Skrillex, Choral Reef has goals to be on top of the charts everywhere. Choral Reef aims for quality entertainment towards all music lovers ranging from Kanye West fans to the creators of the Teen Titans original theme song. Choral Reef is currently on their Spring "The Reef is Getting Warmer" Tour in celebration of the release of the Enter The Reef EP. Tour guests include Skrillex, Stardust, and some tour dates even include the great Valx DJ. Welcome to the reef.
					</div>
				</div>
				<div class="col-lg-6">
					<img src="https://i4.sndcdn.com/artworks-000065227484-7pbl31-t200x200.jpg?435a760" class="about-pic">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="reef" style="color:white;">
</div>
<div class="social-btn">
	<div class="twitter-btn">
		<a href="https://twitter.com/ChoralReefEDM" class="twitter-follow-button" data-show-count="false">Follow @ChoralReefEDM</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
</div>
<!-- <div class="section back" id="about">
	<div class="container">
		<div class="jumbotron">
			<h1 class="header center">About Us</h1>
			<br/>
			<div class="row">
				<div class="col-lg-6 descrp">
					<div class="well">
						Choral Reef is a revolutionary new group that has recently entered the realm of producing. With inspiration from world-class DJs such as Swedish House Mafia and Skrillex, Choral Reef has goals to be on top of the charts everywhere. Choral Reef aims for quality entertainment towards all music lovers ranging from Kanye West fans to the creators of the Teen Titans original theme song. Choral Reef is currently on their Spring "The Reef is Getting Warmer" Tour in celebration of the release of the Enter The Reef EP. Tour guests include Skrillex, Stardust, and some tour dates even include the great Valx DJ. Welcome to the reef.
					</div>
				</div>
				<div class="col-lg-6">
					<img src="https://i4.sndcdn.com/artworks-000065227484-7pbl31-t200x200.jpg?435a760" class="about-pic">
				</div>
			</div>
		</div>
	</div>
</div> -->
<div class="listen section back" id="listen">
	<div class="container">
		<div class="jumbotron">
			<h1 class="header">Listen</h1>
			<div class="center">
				<h2>Select a Track</h2>
			</div>
			<br><br>
			<div class="row">
				<div class="col-md-5 track-pick">
					<button class="btn btn-lg btn-info" onclick="track1()">Merry Strictmas</button><br>
					<button class="btn btn-lg btn-info" onclick="track2()">Enter The Reef</button><br>
					<button class="btn btn-lg btn-info" onclick="track3()">Strict Steve</button><br>
					<button class="btn btn-lg btn-info" onclick="track4()">In Your Eyes</button><br>
					<button class="btn btn-lg btn-info" onclick="track5()">Save Myself</button><br>
				</div>
				<div class="col-md-7"><div id="audio-place" style="font-size:300px;text-align:center;"><i class="fa fa-music"></i></div></div>
			</div>
			<div class="row">
				<div class="col-md-4">&nbsp;</div>
				<div class="col-md-4 track-pick">
				</div>
				<div class="col-md-4">&nbsp;</div>
			</div>
			<div class="row">
				<div class="col-md-4">&nbsp;</div>
				<div class="col-md-4 track-pick">
				</div>
				<div class="col-md-4">&nbsp;</div>
			</div>
			<div class="row">
				<div class="col-md-4">&nbsp;</div>
				<div class="col-md-4 track-pick">
				</div>
				<div class="col-md-4">&nbsp;</div>
			</div>
			<div class="row">
				<div class="col-md-4">&nbsp;</div>
				<div class="col-md-4 track-pick">
				</div>
				<div class="col-md-4">&nbsp;</div>
			</div>
		</div>
	</div>
</div>
<div class="section" id="tour">
	<div class="container">
		<div class="jumbotron">
			<h1 class="header">Tour Schedule</h1>
			<form id="form">
				<div class="row">
					<div class="col-lg-3">
						<h2 style="font-weight: bold;">Concert Date: </h2>
						<h3>March 21<sup>st</sup>, 2014</h3>
					</div>
					<div class="col-lg-3">
						<h2 style="font-weight: bold;">Venue: </h2>
						<h3>Madison Square Garden</h3>
					</div>
					<div class="col-lg-3">
						<h2 style="font-weight: bold;">Special Guests: </h2>
						<h3>Drake, Swedish House Mafia</h3>
					</div>
					<div class="col-lg-3">
						<h2 style="font-weight: bold;">Price: </h2>
						<h3>$75.00</h3>
					</div>
					<div class="col-lg-4 add">
						<label>Enter number of tickets
							<input id="tour1" placeholder="1">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<h2 style="font-weight: bold;">Concert Date: </h2>
						<h3>May 18<sup>th</sup>, 2014</h3>
					</div>
					<div class="col-lg-3">
						<h2 style="font-weight: bold;">Venue: </h2>
						<h3>IZOD center</h3>
					</div>
					<div class="col-lg-3">
						<h2 style="font-weight: bold;">Special Guests: </h2>
						<h3>A$AP Rocky, Valx DJ</h3>
					</div>
					<div class="col-lg-3">
						<h2 style="font-weight: bold;">Price: </h2>
						<h3>$50.00</h3>
					</div>
					<div class="col-lg-4 add">
						<label>Enter number of tickets
							<input id="tour2" placeholder="2">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<h2 style="font-weight: bold;">Concert Date: </h2>
						<h3>July 3<sup>th</sup>, 2014</h3>
					</div>
					<div class="col-lg-3">
						<h2 style="font-weight: bold;">Venue: </h2>
						<h3>Bergen County Acadmies</h3>
					</div>
					<div class="col-lg-3">
						<h2 style="font-weight: bold;">Special Guests: </h2>
						<h3>Skrillex, 2Chainz</h3>
					</div>
					<div class="col-lg-3">
						<h2 style="font-weight: bold;">Price: </h2>
						<h3>$60.00</h3>
					</div>
				</div>	
				<div class="row">
					<div class="col-lg-4 add">
						<label>Enter number of tickets
							<input id="tour3" placeholder="3">
						</label>
						<button type="submit" class="btn btn-info">Add tickets to Cart</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="section" id="cart">
	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<form method="POST" action="/">
					<h1 class="header">Cart</h1>
					<div class="col-lg-12 blank">
						<h2>Looks like you have nothing in your cart.</h2>
					</div>
					<div class="col-lg-12 tour1">
						
					</div>
					<div class="col-lg-12 tour2">
						
					</div>
					<div class="col-lg-12 tour3">
						
					</div>
					<div class="col-lg-12 total">
						
					</div>
					<div class="col-lg-12 button">

					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="f">
	  <p class="footer">Made by: <a href="http://parasmodi.com">Paras Modi</a>, <a href="http://imjaredz.com">Jared Zoneraich</a>, and <a href = "https://github.com/DiZy">David Zilburg</a>. All copyright and fair use laws have been followed in the creation of this website.</p>
	</div>
</div>
<script type="text/javascript">
	$('document').ready(function(){
		var $window = $(window); var velocity = 0.2; function update(){ var pos = $window.scrollTop(); $('.back').each(function() { var $element = $(this); var height = $element.height(); $(this).css('backgroundPosition', '50% ' + Math.round((height - pos) * velocity) + 'px'); }); }; $window.bind('scroll', update);
	});
	$('#form').submit(function (event) {
		event.preventDefault();
		var tour1 = $('#tour1').val();
		var price1 = 75.00;
		var tour2 = $('#tour2').val();
		var price2 = 50.00;
		var tour3 = $('#tour3').val();
		var price3 = 60.00;
		var total = 0.00;
		if($('.tour1').children().length > 0 || $('.tour2').children().length > 0 || $('.tour3').children().length > 0 || $('.total').children().length > 0){
				// $( "h3" ).remove( ":contains('added')" );
				$('.totalp').remove();
				// $( ".rem" ).remove();
				$('.remove1').remove();
				$('.remove2').remove();
				$('.remove3').remove();
				$('.btn-clear').remove();
			}
			if(tour1 != "" || tour2 != "" || tour3 != ""){
				$('.blank').remove();
				$('.button').append('<button type="submit" class="btn btn-lg btn-info btn-clear">Checkout</button>');
			}
			if(tour1 != ""){
				if(tour1 == "1"){
					$('.tour1').append('<span class="remove1"><h3 style="display:inline-block; width:55%;">You added ' + tour1 + ' ticket for the March 21<sup>st</sup>, 2014 concert </h3><span class="clear1"><i style="{cursor: pointer;}" class="fa fa-times sizer"></i></span><h4 class="rem">Price: $'+price1+'</h4></span>');
					$( ".clear1" ).bind( "click", function() {
						$('.totalp').remove();
						$('.remove1').remove();
						total = (total-price1);
						$('.total').append('<h3 class="totalp">Total price: $' + total);
					});
					total+=price1;
				}else{
					var tour_price1 = parseInt(tour1,10)*price1;
					$('.tour1').append('<span class="remove1"><h3 style="display:inline-block; width:55%;">You added ' + tour1 + ' tickets for the March 21<sup>st</sup>, 2014 concert </h3><span class="clear1"><i style="{cursor: pointer;}" class="fa fa-times sizer"></i></span><h4 class="rem">Price: $'+tour_price1+'</h4></span>');
					$( ".clear1" ).bind( "click", function() {
						$('.totalp').remove();
						$('.remove1').remove();
						total = (total-tour_price1);
						$('.total').append('<h3 class="totalp">Total price: $' + total);
					});
					total+= tour_price1;
				}
			}
			if(tour2 != ""){
				if(tour2 == "1"){
					$('.tour2').append('<span class="remove2"><h3 style="display:inline-block; width:55%;">You added ' + tour2 + ' ticket for the May 18<sup>th</sup>, 2014 concert </h3><span class="clear2"><i style="{cursor: pointer;}" class="fa fa-times sizer"></i></span><h4 class="rem">Price: $'+price2+'</h4></span>');
					$( ".clear2" ).bind( "click", function() {
						$('.totalp').remove();
						$('.remove2').remove();
						total = (total-price2);
						$('.total').append('<h3 class="totalp">Total price: $' + total);
					});
					total+=price2;
				}else{
					var tour_price2 = parseInt(tour2,10)*price2;
					$('.tour2').append('<span class="remove2"><h3 style="display:inline-block; width:55%;">You added ' + tour2 + ' tickets for the May 18<sup>th</sup>, 2014 concert </h3><span class="clear2"><i style="{cursor: pointer;}" class="fa fa-times sizer"></i></span><h4 class="rem">Price: $'+tour_price2+'</h4></span>');
					$( ".clear2" ).bind( "click", function() {
						$('.totalp').remove();
						$('.remove2').remove();
						total = (total-tour_price2);
						$('.total').append('<h3 class="totalp">Total price: $' + total);
					});
					total+= tour_price2;
				}
				
			}
			if(tour3 != ""){
				if(tour3 == "1"){
					$('.tour3').append('<span class="remove3"><h3 style="display:inline-block; width:55%;">You added ' + tour3 + ' ticket for the July 3<sup>th</sup>, 2014 concert</h3><span class="clear3"><i style="{cursor: pointer;}" class="fa fa-times sizer"></i></span><h4 class="rem">Price: $'+price3+'</h4></span>');
					$( ".clear3" ).bind( "click", function() {
						$('.totalp').remove();
						$('.remove3').remove();
						total = (total-price3);
						$('.total').append('<h3 class="totalp">Total price: $' + total);
					});            		
					total+=price3;
				}else{
					var tour_price3 = parseInt(tour3,10)*price3;
					$('.tour3').append('<span class="remove3"><h3 style="display:inline-block; width:55%;">You added ' + tour3 + ' tickets for the July 3<sup>th</sup>, 2014 concert </h3><span class="clear3"><i style="{cursor: pointer;}" class="fa fa-times sizer"></i></span><h4 class="rem">Price: $'+tour_price3+'</h4></span>');
					$( ".clear3" ).bind( "click", function() {
						$('.totalp').remove();
						$('.remove3').remove();
						total = (total-tour_price3);
						$('.total').append('<h3 class="totalp">Total price: $' + total);
					}); 
					total+= tour_price3;
				}
				
			}
			if(total != 0.00){
				$('.total').append('<h3 class="totalp">Total price: $' + total);
			}
			document.getElementById("cart").scrollIntoView();

		});
function track1(){
	// $('.current').remove();
	$('#audio-place').html('<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/126370907&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>')
}
function track2(){
	// $('.current').remove();
	$('#audio-place').html('<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/124600491&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>')
}
function track3(){
	// $('.current').remove();
	$('#audio-place').html('<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/122254903&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>')
}
function track4(){
	// $('.current').remove();
	$('#audio-place').html('<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/109633032&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>')
}
function track5(){
	// $('.current').remove();
	$('#audio-place').html('<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/58487048&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>')
}
</script>
{% endblock %}